<%- include ../layouts/header %>

		<div class="container">

			<div class="starter-template">
				<h1>Hosts</h1>
				<p class="lead">This tool is Lorem ipsum dolor sit amet!<br> All you get is this text and a mostly barebones HTML document.</p>
			</div>
			<div class="col-md-12">
				<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda non quaerat sed quidem similique natus eos nulla cumque impedit quod reiciendis, illo ea voluptates molestias, excepturi, doloribus sunt atque possimus!</span><span>Officiis tempora debitis, cum in non, culpa obcaecati harum adipisci ab nemo voluptatem a animi! Incidunt sequi quibusdam, voluptas maiores officiis enim nemo blanditiis explicabo animi repudiandae, mollitia unde neque.</span></p>
			</div>
			<div class="row">
				<div class="col-md-4 offset-md-3">
					<form action="/create" method="POST">
						<div class="form-group">
							<label for="IP">Your IP</label>
							<input type="text" class="form-control" name="ip">
						</div>
						<div class="form-group">
							<label for="Domain">Your domain</label>
							<input type="text" class="form-control" name="domain">
						</div>
						<div class="form-group">
							<input type="submit" class="btn btn-primary">
						</div>
					</form>
				</div>
			</div>
		</div><!-- /.container -->
<%- include ../layouts/footer %>