		<footer class="blog-footer">
			<p>
				Hosts tool built for 
				<a href="http://clickittech.com">ClickIt</a>
				by 
				<a href="http://github.com/Alexhdz047">Alejandro</a>
			</p>
			<p>
				<a href="#">Back to top</a>
			</p>
		</footer>

		<!-- Bootstrap core JavaScript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>
	</body>
</html>